// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: 25px;
    font-family: 'Roboto', sans-serif;
}

.answer {
    background-color: #FCFFDE
}

.left_border {
    border-left: 7px solid #F4F4F4;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}